{% load static %}


<hr>


<nav class="navbar navbar-expand-lg navbar-light bg-white">


        <div class="col-2">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.jpeg' %}" />
                <!--h1> socializeUS Logo</h1-->
            </a> 
        </div>

        <div class="col-8">
            <form class="d-flex" method="GET" action="{% url 'home' %}">
                <input class="form-control me-2" type="text" name="q" placeholder="Search offering" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>


 

        {% if request.user.is_authenticated %} 
        <button type="button" class="btn btn-white position-relative">
            <img src="{{user.profile.userPicture.url}}" class="rounded-circle position-relative"  alt={{ request.user }} width="50" height="50"> 
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{request.user.receiverID.count }}
              <span class="visually-hidden">unread messages</span>
            </span>
        </button>

            <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ request.user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <p class="dropdown-item text-primary"> Credits: {{ user.profile.creditAmount|add:user.profile.creditInprocess }} Ch </p>
                    <hr>
                    <a class="dropdown-item" href="{% url 'user-profile' request.user %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'handshake' %}">Actions</a>
                    <a class="dropdown-item" href="#">History</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>

            
        {% else %}
            <div class="col-2">
                <a class="btn btn-primary" href="{% url 'login' %}" role="button">Sign In</a>
                <a class="btn btn-success" href="{% url 'signup' %}" role="button">Sign Up</a>
            </div> 
        {% endif %}

</nav>

<hr>