{% extends 'main.html' %}

{% block content %}

<style>
    .create-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; 
    }
</style>

<div class="create-container">

    <div>

    </div>
    <div>

        <span>
            <h2> Update This {{form.serviceType.value}} </h3>
            <hr>
        </span>
        

        <form class="row g-3 needs-validation" enctype=multipart/form-data method="POST" action="" novalidate>
            {% csrf_token %}

            <div class="col-md-7">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Service Category</span>
                    <select class="form-select" id="selectCategory" name="selectCategory"  value ="{{form.tag.value}}" aria-describedby="inputGroupPrepend" required>
                        {% for category in myTags %}
                            <option value="{{category.tagName}}">{{category.tagName}}</option>
                        {% endfor%}
                    </select>
                    <div class="invalid-feedback">
                        Please choose a category.
                    </div>
                    <a class="btn btn-primary btn-sm" href="" role="button">New Category</a>
                </div>
            </div>

            <div class="col-md-5">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Keywords</span>
                    <input type="text" class="form-control" id="keywords" name="keywords" value="{{form.keywords.value}}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a keyword.
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Service Info</span>
                    <textarea class="form-control" id="serviceInfo" name="serviceInfo" value="{{form.serviceInfo.text}}"  aria-describedby="inputGroupPrepend" rows="3" required></textarea>
                    <div class="invalid-feedback">
                        Please choose a keyword.
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Date</span>
                    <input type="text" class="form-control" id="startingDate" name="startingDate" value="{{form.startingDate.value|date:'Y-m-d H:i' }}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a date.
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Duration</span>
                    <input type="text" class="form-control" id="duration" name="duration" value="{{form.duration.value}}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a duration for event.
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Capacity</span>
                    <input type="text" class="form-control" id="capacity" name="capacity"  value="{{form.capacity.value}}"  aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a capacity for event.
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Meeting Type</span>
                    <select class="form-select" id="meetingType" name="meetingType" value="{{form.meetingType.value}}" aria-describedby="inputGroupPrepend" required>
                        <option value="FaceToFace">FaceToFace</option>
                        <option value="Online">Online</option>
                    </select>
                    <div class="invalid-feedback">
                        Please choose a category.
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Location</span>
                    <input type="text" class="form-control" id="location" name="location" value="{{form.location.value}}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a keyword.
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Recurrance</span>
                    <input type="text" class="form-control" id="recurrance" name="recurrance" value="{{form.recurrance.value}}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a recurrence for event.
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"> Period</span>
                    <select class="form-select" id="recurrancePeriod" name="recurrancePeriod" value="{{form.recurrancePeriod.value}}"  aria-describedby="inputGroupPrepend" required>
                        <option value="None">None</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                    <div class="invalid-feedback">
                        Please choose a Period.
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Deadline</span>
                    <input type="text" class="form-control" id="deadlineForCancel" name="deadlineForCancel" value="{{ form.deadlineForUpdate.value|date:'Y-m-d H:i' }}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a date.
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Picture</span>
                    <input type="file" class="form-control-file" id="picture" name="picture"  value="{{form.picture.value}}"  aria-describedby="inputGroupPrepend" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

            </div>

            <div class="col-12">
                <button class="btn btn-success" type="submit">Update Service</button>
            </div>



        </form>
    </div>
    <div></div>

</div>



{% endblock content %}