{% extends 'main.html' %}

{% block content %}

<!-- This page is for displaying notifications to user
    Page gets myNotes as input /-->

<!-- Styling for Div containers /-->
<style>
    .notes-container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr; 
    }
    .format-container{
        display: grid;
        grid-template-columns: 5fr 3fr 3fr; 
    }
</style>


<div class="notes-container">
        <div>
        </div>

        <div>
            <!-- If there are no notifications, this is displayed to user /-->
            <span>
                <h3> Notifications </h3>
                <hr>
            </span>
            {% if myNotes.count < 1 %}
                <h6> There is no messages </h6>
            {% endif %}

            <!-- All notes for this user is displayed as rows
                Each row has:
                    - content of the note, 
                    - a button linked to service related to this note, 
                    - and action buton to make note Read or Unread 
            /-->
            {% for note in myNotes %}
                <span>
                    <div class="format-container">
                        <div>
                            <h7> {{ note.noteContent }}</h7>
                        </div>
                        <div>
                            <a class="btn btn-outline-success" href="{% url 'offerings' note.serviceID %}" role="button">Go to Service</a>
                        </div>
                        <div>
                            {% if note.status == 'Read' %}
                                <a class="btn btn-outline-primary" href="{% url 'changeNote' note.noteID %}" role="button">Status : Read</a>  
                            {% else %}
                                <a class="btn btn-outline-success" href="{% url 'changeNote' note.noteID %}" role="button">Status : UnRead</a>  
                            {% endif %} 
                        </div>
                        
                    </div>
                </span> 
            {% endfor %}

            <hr>
        </div>

        <div>
        </div>
</div>


{% endblock content %}