{% extends 'main.html' %}

{% block content %}

<!-- This page is showing information for a service
    Page gets user, offers, applications as input /-->

<!-- Styling for Div containers /-->
<style>
    .offerings-container{
        display: grid;
        grid-template-columns: 2fr 6fr 4fr; 
    }
    .format-container{
        display: grid;
        grid-template-columns: 3fr 5fr 2fr; 
    }
</style>

<div class="offerings-container">
        <div>

        </div>

        <div>

            <span>

                <!-- Display details of service /-->
                <div class="format-container">
                    <div>
                        <img src="{{offers.picture.url}}" width="150" height="150"> 
                    </div>
                    <div>
                        <h3> {{ offers.keywords }}</h3>
                        <h7>by</h7>
                        <h5> @{{ offers.providerID }}</h5>
                        <h7>at</h7>
                        <h5> {{ offers.location }} </h5>
                    </div>
                    <div>

                        <!-- Based on the information of user, action buttons becomes available to user:
                            - if user is provider, Edit,Delete,Assign buttons are availble
                            - if user is not owner of service, Apply button appears /-->

                        {% if request.user == offers.providerID %}

                            <!-- Buttons are disabled if Service has already started /-->
                            {% if offers.startingDate|timesince >= "1 min"  %}

                                <p class="text-danger">Service is over</>
                                    <h3>  </h3>
                                <a class="btn btn-success btn-sm disabled" href="{% url 'update-offer' offers.serviceID %}" role="button">Edit</a>
                                    <h3>  </h3>
                                <a class="btn btn-danger btn-sm disabled" href="{% url 'delete-offer' offers.serviceID %}" role="button">Delete</a>
                                    <h3>  </h3>
                                <a class="btn btn-primary btn-sm disabled" href="{% url 'assign' offers.serviceID %}" role="button">Assign</a>
                            {% else %}

                                <!-- If service isn't started yet, but deadline for update passes, then Edit and Delete options are disabled
                                    Assign button is still enabled/-->
                                {% if offers.deadlineForUpdate|timesince >= "1 min"  %}
                                    <p class="text-danger">Edit timehorizon is over </p>
                                    <a class="btn btn-success btn-sm disabled" href="{% url 'update-offer' offers.serviceID %}" role="button">Edit</a>
                                    <h3>  </h3>
                                    <a class="btn btn-danger btn-sm disabled" href="{% url 'delete-offer' offers.serviceID %}" role="button">Delete</a>
                                {% else %}
                                    <a class="btn btn-success btn-sm" href="{% url 'update-offer' offers.serviceID %}" role="button">Edit</a>
                                    <h3>  </h3>
                                    <a class="btn btn-danger btn-sm" href="{% url 'delete-offer' offers.serviceID %}" role="button">Delete</a>
                                {% endif %}
                                <h3>  </h3>
                                <a class="btn btn-primary btn-sm" href="{% url 'assign' offers.serviceID %}" role="button">Assign</a>
                            {% endif %}

                        {% else %}  
                            
                            <!-- If user is someone looking for applying the service, then first it's checked that
                                user has already applied or not/-->
                            {% if applications.count ==  0 %}

                                <!-- If not applied, but there is not enough credit, this message is shown to user /-->
                                {% if textMessage == 'Not Enough Credit' %}
                                    <p class="text-danger">Not Enough Credit</p>
                                
                                {% else %}
                                    <!-- If there is enough credit, but service has started, then button is disabled, and info is displayed /-->
                                    {% if offers.startingDate|timesince >= "1 min"  %}
                                        <p class="text-danger">Service is over</p>
                                        <a class="btn btn-primary btn-sm disabled" href="{% url 'request-Service' offers.serviceID %}" role="button">Apply</a>
                                    {% else %}
                                    <!-- Otherwise, user can apply for the service /-->
                                        <a class="btn btn-primary btn-sm" href="{% url 'request-Service' offers.serviceID %}" role="button">Apply</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                
                                <!-- If user has already applied for the service,
                                        -service cannot be canceled if update deadline has passed
                                /-->
                                {% for a in applications %}
                                    {% if request.user == a.requesterID %}
                                        <h7> Already applied </h7> 
                                        {% if offers.deadlineForUpdate|timesince >= "1 min"  %}
                                            <p class="text-danger">Edit timehorizon is over</p>
                                            <a class="btn btn-danger btn-sm disabled" href="{% url 'delete-Request' a.requestID %}" role="button">Cancel</a>
                                        {% else %}
                                            <a class="btn btn-danger btn-sm" href="{% url 'delete-Request' a.requestID %}" role="button">Cancel</a>
                                        {% endif %}
                                    <!-- If user didn't apply for the service yet,
                                        -if service has started, Apply button is disabled
                                        -User can apply otherwise  
                                    /-->
                                    {% else %}
                                        {% if offers.startingDate|timesince >= "1 min"  %}
                                            <p class="text-danger">Service is over</p>
                                            <a class="btn btn-primary btn-sm disabled" href="{% url 'request-Service' offers.serviceID %}" role="button">Apply</a>
                                        {% else %}
                                            <a class="btn btn-primary btn-sm" href="{% url 'request-Service' offers.serviceID %}" role="button">Apply</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}  
                            {% endif %}
                        {% endif %}
                    </div>
                    
                </div>
            </span> 
            <hr>

            <!-- Display other details of service /-->
            <h4> {{ offers.serviceInfo }}</h4>
            <h5> {{ offers.duration }} hour(s) {{ offers.meetingType }} event</h5>
            <h5> on {{ offers.startingDate }}</h5>
            <h6> with </h6> <h5>{{ offers.capacity }} capacity </h5>
            <hr>
            <h6> Recurrance: {{ offers.recurrance }}</h6>
            <h6> {{ offers.serviceType }} at {{ offers.tag }} category</h6>

        </div>




        <div>

        </div>
</div>


{% endblock content %}