{% extends 'main.html'%}

{% block content %}

<!--div>
    <form method="POST" accept="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username" />

        <label>Password:</label>
        <input type="password" name="password" placeholder="Password" />

        <input type="submit" name="Login" />

    </form>

</div-->

<style>
    .login-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }
</style>

<div class="login-container">

    <div>

    </div>

    {% if page == 'signin' %}
    <div>
        <form method="POST" accept="">
            {% csrf_token %}

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Enter Username">
                <label for="floatingInput">Username</label>

                <!--label>Username:</label>
                <input type="text" name="username" placeholder="Enter Username" /-->
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
                
                <!--label>Password:</label>
                <input type="password" name="password" placeholder="Password" /-->
            </div>

            <div class="col-12">
                <button class="btn btn-outline-primary" type="submit">Sign In</button>
            </div>

            <!-- input type="submit" name="Register" /-->

        </form>

        <p> Haven't signed up yet?</p>
        <a class="btn btn-outline-success" href="{% url 'signup' %}" role="button"> Sign Up</a>

    </div>


    {% else %}

    <div>   
        <form method="POST" accept="">
            {% csrf_token %}

         <!--   {{ form.as_p }} --> 

            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            </div>
            <div class="fieldWrapper">
                {{ form.password1.errors }}
                <label for="{{ form.password1.id_for_label }}">Password</label>
                {{ form.password1 }}
            </div>
            <div class="fieldWrapper">
                {{ form.password2.errors }}
                <label for="{{ form.password2.id_for_label }}">Re-Type Password</label>
                {{ form.password2 }}
            </div>

            <div class="col-12">
                <button class="btn btn-outline-success" type="submit">Sign Up</button>
            </div>

            <!-- input type="submit" name="Register" /-->

        </form>

        <p> Already signed up yet?</p>
        <a class="btn btn-outline-primary" href="{% url 'login' %}" role="button"> Sign In</a>

    </div>
    {% endif %}


    <div>
        
    </div>
    
</div>







{% endblock content %}