{% extends 'main.html'%}

{% block content %}

<!-- This page is for updating user profile
    Page gets user, myProfile, and form from backend as input /-->

<!-- Styling for Div containers /-->
<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; 
    }
</style>

<div class="profile-container">

    <div>

    </div>

    <div> 
        
        <!-- Form for updating user profile /-->
        <form class="row g-3 needs-validation" method="POST" enctype="multipart/form-data" action="" novalidate>
            {% csrf_token %}

            <!-- Text Field for user's firstname /-->
            <div class="col-md-6">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">First Name</span>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="{{user.first_name}}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a keyword.
                    </div>
                </div>
            </div>

            <!-- Text Field for user's last name /-->
            <div class="col-md-6">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Last Name</span>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{user.last_name}}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a keyword.
                    </div>
                </div>
            </div>

            <!-- Text Field for user's email /-->
            <div class="col-md-6">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Email</span>
                    <input type="text" class="form-control" id="email" name="email" value="{{user.email}}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a keyword.
                    </div>
                </div>
            </div>

            <!-- Text Field for user's location /-->
            <div class="col-md-6">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Location</span>
                    <input type="text" class="form-control" id="location" name="location" value="{{myProfile.userLocation}}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a keyword.
                    </div>
                </div>
            </div>
            

            <!-- TextArea Field for user's user details /-->
            <div class="col-md-12">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Details</span>
                    <textarea class="form-control" id="userDetails" name="userDetails"  aria-describedby="inputGroupPrepend" rows="3" required> {{myProfile.userDetails}} </textarea>
                    <div class="invalid-feedback">
                        Please choose a keyword.
                    </div>
                </div>
            </div>

            <!-- File picker field for user's profile picture /-->
            <div class="col-md-10">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">Profile Picture</span>
                    <input type="file" class="form-control-file" id="picture" name="picture"  aria-describedby="inputGroupPrepend" required value="{{form.userPicture}}" >
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

            </div>
            

            <div class="col-2">
                <button class="btn btn-outline-success" type="submit">Update</button>
            </div>
        </form>
    </div>

    <div>  </div>
    
</div>




{% endblock content %}